@charset "utf-8";

/*layout styling*/

.contentBanner {
    font-size: 30px;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
.wrapper:after {
    content: '';
    display: table;
    clear: both;
}
.column {
    float: left;
    box-sizing: border-box;
    padding: 10px;
}
/* For Desktop*/
.large-1 {
    width: 8.666%;
}
.large-2 {
    width: 16.666%;
}
.large-3 {
    width: 25%;
}
.large-4 {
    width: 33.333%;
}
.large-5 {
    width: 41.666%;
}
.large-6 {
    width: 50%;
}
.large-7 {
    width: 58.333%;
}
.large-8 {
    width: 66.666%;
}
.large-9 {
    width: 75%;
}
.large-10 {
    width: 83.333%;
}
.large-11 {
    width: 91.666%;
}
.large-12 {
    width: 100%;
}
@media screen and (min-width: 805px) {
    .large-hidden {
        display: none;
    }
}

/* For mobile*/
@media screen and (max-width: 480px) {
    [class*="width-"] {
        width: 100%;
    }
}
@media screen and (max-width: 805px) {
    .small-1 {
        width: 8.333%;
    }
    .small-2 {
        width: 16.666%;
    }
    .small-3 {
        width: 25%;
    }
    .small-4 {
        width: 33.333%;
    }
    .small-5 {
        width: 41.666%;
    }
    .small-6 {
        width: 50%;
    }
    .small-7 {
        width: 58.333%;
    }
    .small-8 {
        width: 66.666%;
    }
    .small-9 {
        width: 75%;
    }
    .small-10 {
        width: 83.333%;
    }
    .small-11 {
        width: 91.666%;
    }
    .small-12 {
        width: 100%;
    }
    .small-hidden {
        display: none;
    }
}